<div class="form-group row">
  <select class="custom-select">
    <option selected>Scegli l'operazione</option>
    <option value="somma">Somma</option>
    <option value="sottrazione">Sottrazione</option>
    <option value="moltiplicazione">Moltiplicazione</option>
    <option value="divisione">Divisione</option>
  </select>
</div>
